@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@layer base {
  html {
    @apply font-monospace;
    /* font-family: var(--font-roboto-mono); defined in layout.tsx */
    @apply text-stone-700;
  }

  /* * p,
  p * {
    @apply text-stone-700;
    @apply font-serif;
    @apply leading-[1.333rem];
    @apply sm:leading-[1.666rem];
  } */

  p {
    @apply font-serif;
    @apply text-[1rem];
    @apply leading-[1.333rem];
    @apply my-[1rem];
    @apply md:text-[1.125rem];
    @apply md:leading-[1.6rem];
    @apply md:my-[1.25rem];
  }

  /* p,
  h1,
  h2,
  h3 {
    @apply text-stone-700;
  } */

  .navbar-footer-widths {
    @apply max-w-[90%];
    @apply md:max-w-[40rem];
  }

  .paragraph-widths {
    @apply w-[90%];
    @apply md:w-[40rem];
  }

  .image-widths {
    @apply w-[100%];
    @apply sm:w-[30rem];
  }

  a {
    color: magenta;
  }
  a:hover {
    @apply text-stone-500;
  }

  h1 {
    @apply font-[650];
  }

  h2 {
    @apply font-[700];
    @apply text-base;
    @apply md:text-[1.125rem];
    @apply font-serif;
    @apply leading-[1.25rem];
    @apply md:leading-[1.5rem];
  }

  h3 {
    @apply font-[700];
    @apply mt-[2rem];
    @apply mb-[1.5rem];
    @apply text-[1.5rem];
  }

  h4 {
    @apply font-[700];
    @apply mt-[2rem];
    @apply mb-[1.5rem];
    @apply text-[1.25rem];
  }

  /* ol, ul {
    @apply paragraph-widths;
  } */

  figcaption > * {
    @apply mt-[0.75rem];
    @apply text-neutral-500;
    @apply font-mono;
    @apply text-xs;
  }

  .code-div {
    @apply bg-stone-100;
    @apply p-[1rem];
    @apply rounded-lg;
    @apply paragraph-widths;
    @apply mx-auto;
    overflow: scroll;
  }

}
